.array-bar-1 {
  width: 12px;
  display: inline-block;
  margin: 0 1px;
}

.array-bar-2 {
  width: 12px;
  display: inline-block;
  margin: 0 1px;
}

#progressContainer {
  width: 60%;
  margin: 0 auto;
  position: relative;
}

#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar1 {
  width: 0%;
  height: 30px;
  background-color: green;
}
#myBar2 {
  width: 0%;
  height: 30px;
  background-color: green;
}

.winner-1 {
  display: none;
  color: red;
}

.winner-2 {
  display: none;
  color: red;
}
